tensorflow==2.16.1
tensorboard==2.16.2

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1

matplotlib==3.8.4

streamlit==1.37.1

nltk==3.8.1
gensim==4.3.3

ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit